<table>
  <th>Name</th>
  <th>Localized name</th>
  <th>Primary attr</th>
  <th>Attack type</th>
  <th>Roles</th>
  <th>Legs</th>
  
  <% @heroes.each do |hero| %>
    <tr>
      <td><%= hero['name'] %></td>
      <td><%= hero['localized_name'] %></td>
      <td><%= hero['primary_attr'] %></td>
      <td><%= hero['attack_type'] %></td>
      <td><%= hero['roles'] %></td>
      <td><%= hero['legs'] %></td>
      <td><%= link_to 'View', api_hero_matches_path(hero_id: hero['id'])%></td>
    </tr>
  <% end %>
</table>
